.empty-input{
    box-shadow: 0 0 2px 2px red;
    /* colorea de rojo los campos incorrectos*/
}

.imagen img{ /*imagen a ocupar el ta tabla*/
    width: 100%;
    height: 450px;
    background-size: cover;
    background-repeat: no-repeat;

}

.video video { /*video a ocupar el ta tabla*/
    width: 100%;
    height: 450px;
    background-size: cover;
    background-repeat: no-repeat;
}

.color:hover{
    /*iconos  */
    color: #f7b733;
}

/* estilo de los modal (nose cual xd )*/
.example-modal .modal {
    position: relative;
    top: auto;
    bottom: auto;
    right: auto;
    left: auto;
    display: block;
    z-index: 1;

}
#mdialTamanio{ /*ancho del modal descripcion */
    width: 80% !important;
}
.b_des{ /* scroll del modal descripcion */
    overflow-x: auto;
}
.example-modal .modal {
    background: transparent !important;
}

